body {
    background: linear-gradient(#e66465, #9198e5);
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        .title-result {
            text-align: center;
            font-family: Roboto, sans-serif;
        }
        .answer {
            margin-top: 110px;
            font-size: 28px;  
            font-family: Roboto, sans-serif;     
        }
    }
}


