body {
    background: #a0ff61;
    height: 100%;
    display: flex;
    justify-content: center;
}

.start-btn {
    width: 300px;
    height: 100px;
    margin-top: 300px;
    cursor: pointer;
    background-color: #ee82ee;
    font-size: 24px;
    font-family: monospace;
}

.start-btn:hover {
    color: #a0ff61;
    background-color: #000000;
}